.shadow-sm {
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.54);
-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.54);
-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.54);
}

.shadow-sm-2 {
	box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.54);
-webkit-box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.54);
-moz-box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.54);
}

.shadow-md {
	box-shadow: 0px 0px 40px 5px rgba(0,0,0,0.52);
-webkit-box-shadow: 0px 0px 40px 5px rgba(0,0,0,0.52);
-moz-box-shadow: 0px 0px 40px 5px rgba(0,0,0,0.52);
}

.shadow-md-2 {
	box-shadow: 4px 4px 40px 5px rgba(0,0,0,0.52);
-webkit-box-shadow: 4px 4px 40px 5px rgba(0,0,0,0.52);
-moz-box-shadow: 4px 4px 40px 5px rgba(0,0,0,0.52);
}